/* The stylesheet for the group project*/
/* 
- Owner: Rahul Saravanabavan
- Date: Nov 28 2023
--------------------------------
*/

/*Make all images responsive*/
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/* Our h1 tag is the landing page for our website so that we have hover and a tag for it*/
h1{
    margin-left: 0px !important;
    font-family: Helvetica, sans-serif;
    font-weight: normal;
    font-size: 30px;
    position: relative;
}
h1 a{
    text-decoration: none;
    color: #f1fcff;
    font-weight: bold;
    display: flex;
}
h1 a:hover{
    color: rgb(0, 204, 255);
}
.active-page {
    color: rgb(0, 204, 255);
}
/* This header contains the nav bar which is fixed*/
header{
    font-family: "Crimson Text", serif;
    font-size: 17px;
    position: fixed;
    left: 0;
    top: 0;
    height: 10px;
    font-family: sans-serif;
    z-index: 10;
}
/* The Nav Bar has our subsequent pages which also has our */
nav{
    display: flex;
    background-color: #000;
    width: 100%;
    position: fixed;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    float: right;
}

nav ul {
    padding-left: 0px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 5px 10px;
    padding-right: 20px;
}
/* This modifies the hover text of our subsequent pages*/
nav ul li a{
    text-decoration: none;
    color: #f1fcff;
    font-weight: bold;
    text-shadow: 0px 0px 7px black;
}
/* I we hover on each page title we have a hover effect which is excecuted by the below code*/
nav ul li a:hover{
    color: rgb(0, 204, 255);
}
/* For the logo we have made it look rounder */
.logo{
    margin: 0px;
    border-radius: 50%;
    padding-left: 10px;
}
/* This is the side bar which has the responsive navbar pops at right*/
.sidebar{
    position: fixed;
    top:0%;
    right: 0%;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color:rgb(148, 148, 148, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(24, 69, 106, 0.1);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start; 
    display: none; /* determines the sidebar space between alter before use*/
}
.sidebar li{
    margin-bottom: 10px;
}
/* This is the button for the menubar*/
.hamburger-button{
    display: none;
}
/* SVG file is the responsive menu bar menu and close items */
svg{
    fill:skyblue;
}
.sub-menu{
    display: inline;
    margin-top: 150px;
    position: fixed;
    border-top: #09c0f3;
    border-style: ridge;
    background-color: #000;
}
/* These are the media query for reponsive design which was driven from the w3schools responsive hamburger navbar*/
/* When the screen hits the width of 1470 px which is the first breaking point it displays the hamburger menu item*/
@media (max-width: 1470px){
    .hide{
        display: none;
    }
    .hamburger-button{
        display: block;
    }
}
/* When the screen hits the width of 550 px which is the second breaking point it shirnks the logo*/
@media  (max-width: 550px){
    .logo{
        height: 50px;
        width: 50px;
    }
    .sub-menu{
        margin-top: 130px;
        width: 100%;
    }
    .sub-menu a{
        margin-left: 30px;
    }
}
@media  (min-width: 650px){
    .sidebar{
       display: none;
    }
}
/* if the creen attains the minimum width of 350px the h1 padding left increases*/
@media (min-width: 350px){
    h1 {
        padding-left:10px;
    }
}
@media (max-width: 340px){
    .sub-menu a{
        font-size: small;
    }
}
/* The following are the picture native resolution which is resized and holds its size while being shrinked*/
.raster{
    margin-left:20%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}
.SA1{
    max-width: 470px;
    max-height: 300px;
    width: 80%;
}
/* The following are the picture native resolution which is resized and holds its size while being shrinked*/
.SA2{
    max-width: 477px;
    max-height: 300px;
    width: 80%;
}
.SA3{
    max-width: 481px;
    max-height: 300px;
    width: 80%;
}
.SA4Raster{
    max-width: 486px;
    max-height: 300px;
    width: 80%;
}
.SA4Vector{
    max-width: 349px;
    max-height: 300px;
    width: 80%;
}
/* The following are the picture native resolution which is resized and holds its size while being shrinked*/
.GV1{
    max-width: 466px;
    max-height: 300px;
    width: 80%;
}
.GV2,.GV3{
    max-width: 463px;
    max-height: 300px;
    width: 80%;
}
.GV4{
    max-width: 460px;
    max-height: 300px;
    width: 80%;
}
/* The following are the picture native resolution which is resized and holds its size while being shrinked*/
.AI1{
    max-width: 466px;
    max-height: 300px;
    width: 80%;
}
.AI2{
    max-width: 464px;
    max-height: 300px;
    width: 80%;
}
.AI3Quality,.AI3Quality{
    max-width: 463px;
    max-height: 300px;
    width: 80%;
}
/* End Owner: Rahul Saravanabavan */

/* 
- Owner: Thiluxsaan Puvanendran
- Date: Nov 22 2023
*/
body{
    background-color: #f1fcff;
    margin: 0px;
}
/* End Owner: Thiluxsaan Puvanendran */

/*
- Owner : Jackson Mitchell
- Date  : Nov 22 (Margins) Nov 30 (Flex box)
- flex box https://www.w3schools.com/css/css3_flexbox.asp
*/
#main-content,#main-content-landing {
    margin: auto;
    margin-top: 150px;
    width: 80%;
}

.section,#section-landing {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;
}
/* End Owner: Jackson Mitchell */

/* 
- Owner: Thiluxsaan Puvanendran
- Date: Nov 22 2023
- Font size and style
--------------------------------
- Owner: Jackson Mitchell
- Date Nov 22 2023
- margins
*/
/* these are the h2 and h3 of our every page*/
h2{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size:30px;
    margin-top: 5px;
    margin-bottom: 5px;
}
h3{
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    flex: 0 0 100%;
	
}
p{ 
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size:18px;
}
/* End Owner: Thiluxsaan Puvanendran */
/* End Owner: Jackson Mitchell */

/* Modifies the h4 class to have a 10px upper margin, colorized text that is bolded, and an 18 point font size */
h4 {
    margin-bottom: 0px;
    margin-top: 10px;
    color: #f1fcff;
    font-weight: bold;
    font-size: 18px;
}

/* Sets a 20px top margin and a 16 point font size for the line of text at the bottom of the footer. */
#team {
    margin-top: 20px;
    font-size: 16px;
}

/* Sets margins and font size for photo captions */
.caption{ 
    margin-left: auto;
    margin-right: auto;
    font-size:14px;
}

/* ID used to display treesurveydata.png in its native resolution */
#db1 {
    max-width: 842px;
    max-height: 436px;
    width: 70%;
    height: auto;
}

/* ID used to display treedatabase.png in its native resolution */
#db2 {
    max-width: 868px;
    max-height: 513px;
    width: 70%;
    height: auto;
}

/* ID used to display tylerwebsite.png in its native resolution */
#wd1 {
    max-width: 1116px;
    max-height: 164px;
    height: auto;
    width: 85%;
}

/* ID used to display luxwebsite.png in its native resolution */
#wd2 {
    max-width: 1127px;
    max-height: 87px;
    height: auto;
    width: 85%;
}

/* ID used to display jacksonwebsite.png in its native resolution */
#wd3 {
    max-width: 1142px;
    max-height: 80px;
    height: auto;
    width: 85%;
}
    
/* End Owner: Tyler Rubini */

/* Jackson Images
source https://www.w3schools.com/howto/howto_css_image_center.asp
*/
/* These are the pictures which are in native resolution */
.jimg {
    max-width: 600px; 
    max-height: 400px;
    width: 50%;
}

#ac1 {
    max-width: 1000px;
    max-height: 625px;
    width: 70%;
    height: auto;
}
#ac2 {
    max-width: 800px;
    max-height: 507px;
    width: 70%;
    height: auto;
}
#ac3 {
    max-width: 895px;
    max-height: 660px;
    width: 70%;
    height: auto;
}
#gb1 {
    max-width: 895px;
    max-height: 660px;
    width: 70%;
    height: auto;
}
	
#gb2 {
    max-width: 1000px;
    max-height: 649px;
    width: 70%;
    height: auto;
}

/*Ul tag has font size of 25px and font being Times New Roman*/
.lux-lists {
	font-size:18px;
	font-family: Helvetica, sans-serif;
	list-style-type: circle;
	
}


.dark-mode { 
	background-color: #333333;
	color: #f1fcff;
}

.button { 
	background-color: black;
	color: white;
	border: 2px solid white;
	font-family: "Crimson Text", serif;
	
}

.button:hover {
	background-color: black;
	color: #00ccff;
}

.dark-mode h1 {
	color: white;
}

.dark-mode p {
	color: white;
}

.dark-mode h3 {
	color: white;
}

.dark-mode h2 {
	color: white;
}

/*Ul li is list element and the element is being manipulated to have padding on each listed item in the unorder list.*/
.lux-lists li{
	padding: 18px;
}
.as{
	flex:0 0 100%;
}
/*
- Owner: Jackson Mitchell
- Date Dec 4 2023
- Specific CSS For Landing Page (index)
- https://www.w3schools.com/html/html_images_background.asp
- https://www.w3schools.com/cssref/css3_pr_text-shadow.php
*/
#main-content-landing {
    background-image: url('img/mount.jpg');
    background-position: center;
    padding-top: 375px;
    padding-bottom: 325px;
    margin: 0px;
    width: 100%;
    text-align: center;
}

#landing-Header {
    font-family: Helvetica, sans-serif;
    color: #f1fcff;
    font-size: 55px;
    font-weight: normal;
    text-shadow: 3px 3px #000000;
    padding: 0px;

}

#section-landing {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 85%;
}
#section-landing p {
    font-size: 30px;
}
/*
- Owner: Jackson Mitchell
- Date Nov 30 2023
- adding break point and css to adjust for small screens
- https://www.w3schools.com/howto/howto_css_media_query_breakpoints.asp
*/
@media only screen and (max-width: 550px) {
    h1{
        font-size: 20px;
    }

    #main-content-landing {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    #landing-Header {
        font-size: 40px;
    }
/* This is the responsive section for our footer which has the flex display and direction to coloumn  so that if the page attains the maximum width of 550px it transforms to the coloumn*/
    #section-landing p {
        font-size: 20px;
    }
    .row {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .column {
        width: 100%;
    }
}
/* Owner: Parkavi Shanmugam
   Date: Dec 06 2023 */

.par-list {
    font-size:20px;
    list-style-type: decimal;
    padding: 20px;
}
#py1 {
    max-width: 1600px;
    max-height: 1200px;
    height: auto;
    width: 80%;
}
.rm1 {
    max-width: 1443px;
    max-height: 952px;
    height: auto;
    width: 80%;
}
.rm2 {
    max-width: 1560px;
    max-height: 691px;
    height: auto;
    width: 80%;
}
.rm3 {
    max-width: 1560px;
    max-height: 982px;
    height: auto;
    width: 80%;
}
.rm4 {
    max-width: 1567px;
    max-height: 855px;
    height: auto;
    width: 80%;
}

/* End Owner: Parkavi Shanmugam */

/*
Owner: Helen Plesko
Date: April 10, 2024
*/
/* Customization of problem statement fonts */
.problemstatement h2 {
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size:30px;
    margin-top: 5px;
    margin-bottom: 5px;
	text-align: center;
}
.problemstatement h3 {
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 15px;
    flex: 0 0 100%;
	text-align: center;
}
.problemstatement p { 
    font-family: Helvetica, sans-serif;
    color: #000000;
    font-weight: normal;
    font-size:18px;
	text-align: center;
}

/* Customization of dividing lines */
hr.rounded {
	border-radius: 6px;
	border-top: 3px solid #000;
	margin: 25px;
}

/* Customization of footer background */
footer {
	position: static;
	background-color: #000;
	padding-top: 30px;
	padding-bottom: 30px;
}

/* Customization of footer p element */
.footertext p {
	color: #FFF;
	text-align: center;
	font-weight: normal;
	font-size: 13px;
	font-family: helvetica, arial, sans-serif;
}

/* Sets the colour and font size of the names in the footer. Also sets a 0px bottom margin to simulate a line break without an HTML tag */
.name {
    margin-bottom: 0px;
    color: #000;
    font-size: 22px;
	text-align: center;
	font-weight: bold;
}

/* Sets the width and text colour for the columns that make up the footer */
.column {
    float: left;
    width: 25%;
	text-align: center;
}

/* Creates a pseudo-element that resets the floats for any elements that come after this part of the footer */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Customization of social icons */
.fab, .fas {
	padding: 15px;
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 50%;
	transition: .3s ease-in-out;
}

/* Customization of social icon - makes icon semi-transparent when user hovers over it */
.fab:hover, .fas:hover{
    opacity: 0.5;
}

/* Customization of footer Facebook icon */
.fa-envelope {
	background: #000;
	color: #FFF;
}

/* Customization of footer Twitter icon */
.fa-linkedin {
	background: #000;
	color: #FFF;
}

/* Centers the icon on the webpage */
.centericon {
	display: flex;
    column-gap: 10px;
    justify-content: center;
}
/* End Owner: Helen Plesko */